body{
    padding: 40px;
}
.tic-tac-toe {
    border: 2px solid #B0B0B0;
    width: fit-content;
}
.tic-tac-toe__line{
    display: flex;
    align-items: center;
}
.tic-tac-toe__item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tic-tac-toe__item img {
    width: 24px;
    height: 24px;
}

.tic-tac-toe__item:not(:last-of-type) {
    border-right: 2px solid #B0B0B0;
}