.section {
    display: flex;
    height: 80px;
    width: 240px;
}
.section__block {
    text-align: center;
    border: 2px solid black;
    height: 80px;
    width: 80px;
}
.icon {
    padding-top: 5px;
    height: 70px;
    width: 70px;
}
main {
    border: 3px solid black;
    height: 240px;
    width: 240px;
}