body{
    background-color: grey;

}
.resume {
    background-image: url("assets/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 900px;
    line-height: 1.5;
    padding: 32px 48px;
    border-radius: 6px;
    border: 1px solid #BEBEBE;
    box-shadow: 0 1.5px 3px rgb(0 17 51 / 24%), 0 0 1px rgb(0 17 51 / 32%);
    box-sizing: border-box;
}
.header__resume{
    display: flex;
    background-color:black;
}
.header__resume-photo {
    margin-right: 60px;
    margin-top: 85px;
}

.header__photo{
    width: 200px;
    height: 250px;
    background-color: #101010;
}
.header__resume-text {
    margin-left: 60px;
    margin-top: 85px;
    width: 700px;
    background-color: #101010;
    text-align: right;

}
.header__resume-text-name{
    color: white;
    margin: 0;
    padding-top: 35px;
    padding-right: 50px;
    font-size: 60px;
    font-weight: 90;
}
.header__resume-text-profession{
    color: #E5A142;
    font-weight: 100;
    margin: 0;
    padding-right: 50px;
}
main{
    background-color:black ;

}
.section__block{
    color: white;
    display: flex;
    background-color:black;
    width: 400px;
    height: 250px;
    padding-left: 100px;

}
.section__block-left{
    padding-left: 0px;
    text-align: left;
}
.section__block-left-text{
    width: 280px;
    height: 100px;
}
.section__block-right{
    padding-left: 50px;
}
.section__block-right-title{

}
.section__block-list{
    width: 280px;
    height: 100px;
   list-style-type: square;

}

.footer__items{
    display: flex;
    color: white;
    font-size: 15px;
    padding-left: 205px;
    background-color: black;
}
.footer__text{
    background-color: black;
    margin-right: 30px;
    font-size: 20px;
}
.footer__photo{
    width: 40px;
    height: 45px;
    background-color: black;
    margin-right: 30px;
}

