.resume {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 900px;
    line-height: 1.5;
    padding: 32px 48px;
    background: #FCFCFC;
    border-radius: 6px;
    border: 1px solid #BEBEBE;
    box-shadow: 0 1.5px 3px rgb(0 17 51 / 24%), 0 0 1px rgb(0 17 51 / 32%);
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

body {
    padding: 20px;
    background: #efeff1;
}

.resume__header-link {
    margin-right: 20px;
}

h1.resume__header-title {
    font-size: 36px;
    padding-bottom: 0;
    font-weight: 400;
}

.resume__header {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.resume__main-header {
    font-size: 32px;
    font-weight: 400;
    border-bottom: 1px solid #545960;
    padding-bottom: 0;
}

.resume__header-information-section {
    flex-grow: 1;
}

.resume__footer {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.resume__footer-item {
    font-size: 18px;
    margin-top: 6px;
}

.resume__main-experience {
    display: flex;
}

.resume__main-experience-item {
    width: 50%;
}

.resume__main-experience-item--last {
    margin-left: 30px;
}

.resume__main-interests li {
    font-size: 20px;
}

.resume__header-link {
    font-size: 20px;
}