.main {
    padding: 30px;
    margin: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 10px;
    align-items: center;
    background: #f6f6f6;
    display: block;
    width: 500px;
}

button {
    margin-top: 20px;
}

.button-decrease {
    margin-left: 6px;
}