div.main {
    background: #e5e5e5;
    display: block;
    padding: 30px;
    margin: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    border-radius: 8px;
    align-items: center;
}

.main img {
}