.to-do {
    padding: 30px;
    margin: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    background: #f1f1f1;
    border-radius: 10px;
    align-items: center;
    width: 1100px;
}

.to-do,
.to-do__tasks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.to-do__header,
.to-do__main {
    margin-bottom: 20px;
}

.to-do__main {
    display: flex;
    align-items: center;
}

.to-do__main button {
    margin-left: 10px;
    width: 400px;
    height: 44px;
}

[data-type] {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 506px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

[data-type]:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

[data-type=completed] {
    background-color: #c1ffbd;
    border-color: #a2d7a0;
}

[data-type=planned] {
    background-color: #ffcccc;
    border-color: #cea7a7;
}